node-red/node-red/lib/flows/TTC-161-Eastbound.json
[{"id":"492083ec.b6df7c","type":"inject","z":"b522ee91.4add1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":59,"wires":[["5d95625f.a26a9c"]]},{"id":"5d95625f.a26a9c","type":"http request","z":"b522ee91.4add1","name":"TTC NVAS - 161 - Rogers at Dufferin Eastbound","method":"GET","ret":"txt","url":"http://webservices.nextbus.com/service/publicXMLFeed?command=predictions&a=ttc&stopId=6014","x":242,"y":96,"wires":[["8241362.f7dbec8"]]},{"id":"8241362.f7dbec8","type":"xml","z":"b522ee91.4add1","name":"","attr":"","chr":"","x":142,"y":135,"wires":[["b1dfad1f.4e205"]]},{"id":"71374ab0.8ec8b4","type":"debug","z":"b522ee91.4add1","name":"","active":true,"console":"false","complete":"predictions","x":739,"y":129,"wires":[]},{"id":"b1dfad1f.4e205","type":"function","z":"b522ee91.4add1","name":"parse predictions","func":"console.log(msg);\n\nmsg.predictions = [];\n\nmsg.payload.body.predictions.forEach(function(p){\n    p['direction'].forEach(function(d) {\n        ap = {\n            title: d['$']['title'],\n            predictions: []\n        }\n        d['prediction'].forEach(function(dp) {\n           ap.predictions.push(dp['$']['minutes']);\n        });\n        msg.predictions.push(ap);\n    });\n    return;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":173,"wires":[["71374ab0.8ec8b4"]]}]
